{% extends "CsvApp/base.html" %}

{% load static %}

{% block content %}

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="text-center rounded">
                    <a href="http://localhost:8000/usuario/usuario/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">EndPint Consulta y Carga</a>          
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}



